<a href="https://colab.research.google.com/github/timbo0627/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = application_counts[application_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_counts[classification_counts > 1]
print(classification_counts_gt_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(application_df)
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [ ]:
# Split our preprocessed data into our features and target arrays
y = encoded_df["IS_SUCCESSFUL"].values
X = encoded_df.drop(["IS_SUCCESSFUL"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=X.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             3,520

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Convert X and y to float32 dtype
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
y_train = y_train.astype('float32')
y_test = y_test.astype('float32')

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.1)

Epoch 1/100
724/724  3s 2ms/step - accuracy: 0.4875 - loss: 39233.7344 - val_accuracy: 0.4726 - val_loss: 3561.3728
Epoch 2/100
724/724  2s 2ms/step - accuracy: 0.4883 - loss: 10823.6172 - val_accuracy: 0.5274 - val_loss: 132813.5938
Epoch 3/100
724/724  1s 2ms/step - accuracy: 0.5095 - loss: 60024.0703 - val_accuracy: 0.5274 - val_loss: 4459.9551
Epoch 4/100
724/724  3s 2ms/step - accuracy: 0.4761 - loss: 20674.9785 - val_accuracy: 0.5103 - val_loss: 27.8760
Epoch 5/100
724/724  2s 3ms/step - accuracy: 0.4932 - loss: 24848.2305 - val_accuracy: 0.4726 - val_loss: 394.0877
Epoch 6/100
724/724  2s 3ms/step - accuracy: 0.4967 - loss: 17804.6777 - val_accuracy: 0.4726 - val_loss: 814.0615
Epoch 7/100
724/724  2s 2ms/step - accuracy: 0.4947 - loss: 2899.2915 - val_accuracy: 0.4905 - val_loss: 99.9206
Epoch 8/100
724/724  3s 2ms/step - accuracy: 0.5072 - loss: 17333.4688 - val_accuracy: 0.5274 - val_loss: 67384.2422
Epoch 9/100
724/724  1s 2ms/step - accuracy: 0.5310 - loss: 21119.7656 - val_accuracy: 0.4726 - val_loss: 640.3174
Epoch 10/100
724/724  3s 2ms/step - accuracy: 0.5250 - loss: 9492.5752 - val_accuracy: 0.4726 - val_loss: 206.0861
Epoch 11/100
724/724  4s 4ms/step - accuracy: 0.5012 - loss: 17719.8789 - val_accuracy: 0.4726 - val_loss: 628.2018
Epoch 12/100
724/724  3s 4ms/step - accuracy: 0.5042 - loss: 2639.2495 - val_accuracy: 0.4726 - val_loss: 2875.0283
Epoch 13/100
724/724  4s 2ms/step - accuracy: 0.5078 - loss: 17794.7402 - val_accuracy: 0.4726 - val_loss: 2268.2910
Epoch 14/100
724/724  3s 2ms/step - accuracy: 0.5187 - loss: 3888.3188 - val_accuracy: 0.4726 - val_loss: 1000.5245
Epoch 15/100
724/724  3s 2ms/step - accuracy: 0.4923 - loss: 8474.5977 - val_accuracy: 0.4726 - val_loss: 232.9198
Epoch 16/100
724/724  3s 3ms/step - accuracy: 0.5108 - loss: 20920.7715 - val_accuracy: 0.4726 - val_loss: 3009.6704
Epoch 17/100
724/724  2s 3ms/step - accuracy: 0.4862 - loss: 16993.5918 - val_accuracy: 0.5290 - val_loss: 6.1799
Epoch 18/100
724/724  3s 3ms/step - accuracy: 0.5008 - loss: 2866.6194 - val_accuracy: 0.5274 - val_loss: 6003.1440
Epoch 19/100
724/724  2s 3ms/step - accuracy: 0.5053 - loss: 9945.1895 - val_accuracy: 0.4726 - val_loss: 314.5377
Epoch 20/100
724/724  1s 2ms/step - accuracy: 0.4789 - loss: 2273.5813 - val_accuracy: 0.5274 - val_loss: 38.6340
Epoch 21/100
724/724  3s 2ms/step - accuracy: 0.5228 - loss: 291.5186 - val_accuracy: 0.4745 - val_loss: 259.7748
Epoch 22/100
724/724  2s 3ms/step - accuracy: 0.5400 - loss: 397.1052 - val_accuracy: 0.5274 - val_loss: 0.6960
Epoch 23/100
724/724  2s 2ms/step - accuracy: 0.5807 - loss: 0.6581 - val_accuracy: 0.6300 - val_loss: 0.6417
Epoch 24/100
724/724  1s 2ms/step - accuracy: 0.6341 - loss: 0.6381 - val_accuracy: 0.6312 - val_loss: 0.6398
Epoch 25/100
724/724  3s 2ms/step - accuracy: 0.6380 - loss: 0.6335 - val_accuracy: 0.6417 - val_loss: 0.6357
Epoch 26/100
724/724  1s 2ms/step - accuracy: 0.6515 - loss: 0.6303 - val_accuracy: 0.6696 - val_loss: 0.6232
Epoch 27/100
724/724  2s 2ms/step - accuracy: 0.6818 - loss: 0.6156 - val_accuracy: 0.6557 - val_loss: 0.6301
Epoch 28/100
724/724  3s 2ms/step - accuracy: 0.6637 - loss: 0.6217 - val_accuracy: 0.6560 - val_loss: 0.6288
Epoch 29/100
724/724  2s 3ms/step - accuracy: 0.6696 - loss: 0.6211 - val_accuracy: 0.6545 - val_loss: 0.6291
Epoch 30/100
724/724  2s 2ms/step - accuracy: 0.5900 - loss: 0.6534 - val_accuracy: 0.6273 - val_loss: 0.6437
Epoch 31/100
724/724  3s 2ms/step - accuracy: 0.6346 - loss: 0.6370 - val_accuracy: 0.6553 - val_loss: 0.6294
Epoch 32/100
724/724  2s 2ms/step - accuracy: 0.6449 - loss: 0.6316 - val_accuracy: 0.5274 - val_loss: 0.6795
Epoch 33/100
724/724  1s 2ms/step - accuracy: 0.5396 - loss: 0.6757 - val_accuracy: 0.6300 - val_loss: 0.6470
Epoch 34/100
724/724  1s 2ms/step - accuracy: 0.6375 - loss: 0.6405 - val_accuracy: 0.6615 - val_loss: 0.6273
Epoch 35/100
724/724  2s 3ms/step - accuracy: 0.6460 - loss: 0.6741 - val_accuracy: 0.6584 - val_loss: 0.6286
Epoch 36/100
724/724  3s 3ms/step - accuracy: 0.5689 - loss: 0.6756 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 37/100
724/724  2s 2ms/step - accuracy: 0.5323 - loss: 0.6913 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 38/100
724/724  3s 2ms/step - accuracy: 0.5269 - loss: 0.6919 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 39/100
724/724  3s 2ms/step - accuracy: 0.5340 - loss: 0.6909 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 40/100
724/724  3s 2ms/step - accuracy: 0.5334 - loss: 0.6911 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 41/100
724/724  3s 3ms/step - accuracy: 0.5315 - loss: 0.6913 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 42/100
724/724  1s 2ms/step - accuracy: 0.5278 - loss: 0.6919 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 43/100
724/724  2s 2ms/step - accuracy: 0.5270 - loss: 0.6919 - val_accuracy: 0.5274 - val_loss: 0.6920
Epoch 44/100
724/724  2s 2ms/step - accuracy: 0.5307 - loss: 0.6915 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 45/100
724/724  3s 2ms/step - accuracy: 0.5360 - loss: 0.6906 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 46/100
724/724  1s 2ms/step - accuracy: 0.5273 - loss: 0.6918 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 47/100
724/724  2s 3ms/step - accuracy: 0.5334 - loss: 0.6911 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 48/100
724/724  3s 3ms/step - accuracy: 0.5326 - loss: 0.6912 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 49/100
724/724  2s 2ms/step - accuracy: 0.5354 - loss: 0.6908 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 50/100
724/724  2s 2ms/step - accuracy: 0.5328 - loss: 0.6912 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 51/100
724/724  1s 2ms/step - accuracy: 0.5336 - loss: 0.6910 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 52/100
724/724  2s 2ms/step - accuracy: 0.5299 - loss: 0.6914 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 53/100
724/724  2s 2ms/step - accuracy: 0.5286 - loss: 0.6916 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 54/100
724/724  3s 3ms/step - accuracy: 0.5338 - loss: 0.6911 - val_accuracy: 0.5274 - val_loss: 0.6921
Epoch 55/100
724/724  2s 2ms/step - accuracy: 0.5292 - loss: 0.6917 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 56/100
724/724  2s 2ms/step - accuracy: 0.5308 - loss: 0.6915 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 57/100
724/724  3s 2ms/step - accuracy: 0.5343 - loss: 0.6910 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 58/100
724/724  1s 2ms/step - accuracy: 0.5303 - loss: 0.6915 - val_accuracy: 0.5274 - val_loss: 0.6921
Epoch 59/100
724/724  2s 2ms/step - accuracy: 0.5313 - loss: 0.6915 - val_accuracy: 0.5274 - val_loss: 0.6920
Epoch 60/100
724/724  3s 3ms/step - accuracy: 0.5392 - loss: 0.6903 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 61/100
724/724  1s 2ms/step - accuracy: 0.5324 - loss: 0.6914 - val_accuracy: 0.5274 - val_loss: 0.6920
Epoch 62/100
724/724  1s 2ms/step - accuracy: 0.5307 - loss: 0.6917 - val_accuracy: 0.5274 - val_loss: 0.6922
Epoch 63/100
724/724  3s 2ms/step - accuracy: 0.5287 - loss: 0.6919 - val_accuracy: 0.5274 - val_loss: 0.6926
Epoch 64/100
724/724  2s 2ms/step - accuracy: 0.5325 - loss: 0.6913 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 65/100
724/724  2s 2ms/step - accuracy: 0.5305 - loss: 0.6918 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 66/100
724/724  2s 3ms/step - accuracy: 0.5312 - loss: 0.6915 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 67/100
724/724  2s 3ms/step - accuracy: 0.5293 - loss: 0.6917 - val_accuracy: 0.5274 - val_loss: 0.6936
Epoch 68/100
724/724  2s 2ms/step - accuracy: 0.5361 - loss: 0.6908 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 69/100
724/724  2s 2ms/step - accuracy: 0.5320 - loss: 0.6915 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 70/100
724/724  1s 2ms/step - accuracy: 0.5275 - loss: 0.6919 - val_accuracy: 0.5274 - val_loss: 0.6923
Epoch 71/100
724/724  1s 2ms/step - accuracy: 0.5337 - loss: 0.6912 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 72/100
724/724  1s 2ms/step - accuracy: 0.5269 - loss: 0.6921 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 73/100
724/724  4s 4ms/step - accuracy: 0.5293 - loss: 0.6916 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 74/100
724/724  2s 2ms/step - accuracy: 0.5327 - loss: 0.6913 - val_accuracy: 0.5274 - val_loss: 0.6930
Epoch 75/100
724/724  3s 3ms/step - accuracy: 0.5274 - loss: 0.6921 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 76/100
724/724  1s 2ms/step - accuracy: 0.5355 - loss: 0.6908 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 77/100
724/724  3s 2ms/step - accuracy: 0.5339 - loss: 0.6910 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 78/100
724/724  2s 2ms/step - accuracy: 0.5275 - loss: 0.6919 - val_accuracy: 0.5274 - val_loss: 0.6920
Epoch 79/100
724/724  3s 3ms/step - accuracy: 0.5315 - loss: 0.6916 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 80/100
724/724  2s 2ms/step - accuracy: 0.5334 - loss: 0.6912 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 81/100
724/724  2s 2ms/step - accuracy: 0.5336 - loss: 0.6911 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 82/100
724/724  3s 2ms/step - accuracy: 0.5290 - loss: 0.6917 - val_accuracy: 0.5274 - val_loss: 0.6920
Epoch 83/100
724/724  2s 2ms/step - accuracy: 0.5365 - loss: 0.6906 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 84/100
724/724  3s 3ms/step - accuracy: 0.5314 - loss: 0.6914 - val_accuracy: 0.5274 - val_loss: 0.6921
Epoch 85/100
724/724  2s 2ms/step - accuracy: 0.5322 - loss: 0.6913 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 86/100
724/724  2s 2ms/step - accuracy: 0.5294 - loss: 0.6917 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 87/100
724/724  1s 2ms/step - accuracy: 0.5337 - loss: 0.6912 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 88/100
724/724  3s 2ms/step - accuracy: 0.5331 - loss: 0.6913 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 89/100
724/724  1s 2ms/step - accuracy: 0.5296 - loss: 0.6917 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 90/100
724/724  4s 3ms/step - accuracy: 0.5397 - loss: 0.6902 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 91/100
724/724  2s 3ms/step - accuracy: 0.5369 - loss: 0.6909 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 92/100
724/724  2s 2ms/step - accuracy: 0.5269 - loss: 0.6919 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 93/100
724/724  3s 3ms/step - accuracy: 0.5338 - loss: 0.6911 - val_accuracy: 0.5274 - val_loss: 0.6918
Epoch 94/100
724/724  2s 2ms/step - accuracy: 0.5340 - loss: 0.6910 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 95/100
724/724  2s 2ms/step - accuracy: 0.5318 - loss: 0.6914 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 96/100
724/724  3s 3ms/step - accuracy: 0.5293 - loss: 0.6917 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 97/100
724/724  2s 3ms/step - accuracy: 0.5362 - loss: 0.6908 - val_accuracy: 0.5274 - val_loss: 0.6916
Epoch 98/100
724/724  2s 2ms/step - accuracy: 0.5371 - loss: 0.6907 - val_accuracy: 0.5274 - val_loss: 0.6917
Epoch 99/100
724/724  3s 2ms/step - accuracy: 0.5365 - loss: 0.6908 - val_accuracy: 0.5274 - val_loss: 0.6919
Epoch 100/100
724/724  3s 2ms/step - accuracy: 0.5313 - loss: 0.6915 - val_accuracy: 0.5274 - val_loss: 0.6917

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7023 - loss: 1.8154
Loss: 1.8153846263885498, Accuracy: 0.7022740244865417

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.